.header {
  height: 60px;
  align-items: center;
  background-color: rgb(49, 154, 246);
}

.arrow {
  margin-top: 7%;
  margin-left: 7%;
  color: white;
}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
}
